div#container { 
  text-align:left;
  width:753px;
  margin:0 auto;
}
div#content body { 
  border: 1px solid black;
}

div#hidden { 
  display:none;
}

table.search thead td {
  text-decoration: underline;
  border:1px solid #D4D0C8;
  text-align:center;
}

table.search {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  width:100%;
  border:1px solid #D4D0C8;
  border-collapse: collapse;
  margin:10px 0;
}

table.search td {
  padding: 5px;
  font-size: 55px;
}

table.search h3 {
  font-size: 15px;
}

table.search td {
  border-bottom:1px solid #D4D0C8;
  border-top:1px solid #D4D0C8;
}

table.search th {
  background-color: #DDE;
}


h1,h2,h3 {
  color : #448;
  text-align: center;
}

form, label, input {
  margin: 0px auto;
  float:center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: "#D4D0C8";
}

body { 
  margin: 10px 0px 0px 0px;
  font-size: 75%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: "#D4D0C8";
}


div#content { 
  float: right;
  width: 538px;
}

div#content tr { 
}

#content p { 
  font: bold 12px Verdana, sans-serif; 
  margin: 0 0; 
}



div#content td {
  border-bottom: 1px solid #D4D0C8; /* light grey */
  padding-bottom: 2px;
  font-size:14px;
  width:778px;
  margin: 0px auto;

}

div#pagination  { 
  font: bold 14px Verdana, sans-serif; 
}

div#left { 
  float: left;
  width: 150px;
  min-height:440px;
  font: bold 12px Verdana, sans-serif; 
  color : #448;
}




div#left input { 
  width:110px;
}

div#left p input { 
}


/* Navbar */
#navsite ul li {
  list-style: none;
  margin: 0; 
  display: inline; 
}


#navsite ul li a {
  padding: 3px 0.5em; 
  margin-left: 3px; 
  border: 1px solid #778;
  text-decoration: none;
  background: white; 
}


#navsite h5 {
  display: none;
}


#navsite ul {
  padding: 3px 0; 
  margin-left: 0; 
  border-bottom: 1px solid #778; 
  font: bold 12px Verdana, sans-serif; 
}

#navsite ul li a:link {
  color: #448;
}


#navsite ul li a:visited {
  color: #667;
}


#navsite ul li a:link:hover, #navsite ul li a:visited:hover {
  color: #000;
  background: #AAE;
  border-color: #227;
}


#navsite ul li a#current {
  background: #DDE;
  border-bottom: 1px solid #DDE;
}

/* Subnav */
#subnav td { 
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
}
#subnav ul li { 
  list-style: none;
  display: inline;
  padding: 0 0;
  margin: 0 0; 
}

#subnav ul li a {
  text-decoration: none;
  background-color: #DDE;
}
#subnav ul { 
  background: #DDE;
}
#subnav a { 
  padding-left: 2px;
  font: bold 12px Verdana, sans-serif; 
  background: #DDE;
  color: #448;
  background: white;
  padding-right: 0px;
  margin: 0 0 0 0;

}

#subnav li { 
}


* {
  margin: 0;
  padding: 0;
}


div#content fieldset {
  margin-bottom: 10px;
}
div#content legend {
  padding: 0 2px;
  font-weight: bold;
}
div#content label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
div#content fieldset ol {
  margin: 0;
  padding: 0;
}
div#content fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
div#content fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
div#content fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
div#content fieldset fieldset label {
  display: block;
  width: auto;
}
div#content em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
div#content label {
  width: 120px; /* Width of labels */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #448;
}
div#content fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

div#login { 
}

div#login label { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #448;
}
